# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/GitTutorial/v17/Browse.VC.db
.vs/GitTutorial/v17/Browse.VC.db-shm
.vs/GitTutorial/v17/Browse.VC.db-wal
.vs/GitTutorial/v17/Browse.VC.opendb
GitTutorial/x64/Debug/GitTutorial.exe.recipe
GitTutorial/x64/Debug/GitTutorial.ilk
GitTutorial/x64/Debug/GitTutorial.log
GitTutorial/x64/Debug/GitTutorial.tlog/CL.command.1.tlog
GitTutorial/x64/Debug/GitTutorial.tlog/CL.read.1.tlog
GitTutorial/x64/Debug/GitTutorial.tlog/CL.write.1.tlog
GitTutorial/x64/Debug/GitTutorial.tlog/GitTutorial.lastbuildstate
GitTutorial/x64/Debug/GitTutorial.tlog/link.command.1.tlog
GitTutorial/x64/Debug/GitTutorial.tlog/link.read.1.tlog
GitTutorial/x64/Debug/GitTutorial.tlog/link.write.1.tlog
GitTutorial/x64/Debug/vc143.idb
GitTutorial/x64/Debug/vc143.pdb
.vs/GitTutorial/v17/Browse.VC.db
