# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/GitTutorial/v17/.suo
.vs/GitTutorial/v17/Browse.VC.db
.vs/GitTutorial/v17/Browse.VC.db-shm
.vs/GitTutorial/v17/Browse.VC.db-wal
.vs/GitTutorial/v17/Browse.VC.opendb
GitTutorial/x64/Debug/GitTutorial.exe.recipe
GitTutorial/x64/Debug/GitTutorial.ilk
GitTutorial/x64/Debug/GitTutorial.log
GitTutorial/x64/Debug/GitTutorial.tlog/CL.command.1.tlog
GitTutorial/x64/Debug/GitTutorial.tlog/CL.read.1.tlog
GitTutorial/x64/Debug/GitTutorial.tlog/CL.write.1.tlog
GitTutorial/x64/Debug/GitTutorial.tlog/GitTutorial.lastbuildstate
GitTutorial/x64/Debug/GitTutorial.tlog/link.command.1.tlog
GitTutorial/x64/Debug/GitTutorial.tlog/link.read.1.tlog
GitTutorial/x64/Debug/GitTutorial.tlog/link.write.1.tlog
GitTutorial/x64/Debug/vc143.idb
GitTutorial/x64/Debug/vc143.pdb
.vs/GitTutorial/v17/Browse.VC.db
GitTutorial/x64

.vs/GitTutorial/v17/Browse.VC.db
.vs/GitTutorial/v17/.suo
.vs/GitTutorial/FileContentIndex/9cd2304c-2da5-41b7-b4ca-a5a92e2a2ef6.vsidx
.vs/GitTutorial/FileContentIndex/9c919568-708a-41ad-a7a5-859412d31409.vsidx
